In [ ]:
# import modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# create and display dataset
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data)
purchases

In [ ]:
# update index column
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
purchases

In [ ]:
# read dataset from file
df = pd.read_csv('data/purchases.csv')
df

In [ ]:
# read from and update file
df = pd.read_csv('data/purchases.csv', index_col=0)
df

In [ ]:
# export dataset
df.to_csv('data/purchases.csv')

In [ ]:
# import dataset
movies_df = pd.read_csv('data/IMDB-Movie-Data.csv', index_col='Title')
movies_df.head()

In [ ]:
# show head
movies_df.head()

In [ ]:
# show tail
movies_df.tail()

In [ ]:
# show dataset info
movies_df.info()

In [ ]:
# show dataset dimensions
movies_df.shape

In [ ]:
# combine datasets (example)
temp_df = movies_df.append(movies_df)
temp_df.head()

In [ ]:
# remove duplicate entries
temp_df.drop_duplicates(inplace=True)
temp_df.head()

In [ ]:
# list columns
movies_df.columns

In [ ]:
# rename columns
movies_df.rename(columns={
	'Runtime (Minutes)': 'Runtime',
	'Revenue (Millions)': 'Revenue_millions'
}, inplace=True)
movies_df.head()

In [ ]:
# rename all columns to lowercase
movies_df.columns = [col.lower() for col in movies_df]
movies_df.head()

In [ ]:
# show sum of incomplete data
movies_df.isnull().sum()

In [ ]:
# remove NaN data
movies_df.dropna(axis=1).shape

In [ ]:
# display single column
revenue=movies_df['revenue_millions']
revenue.head()

In [ ]:
# find mean of column
revenue_mean=revenue.mean()
revenue_mean

In [ ]:
# fill NaN data with mean data
revenue.fillna(revenue_mean, inplace=True)
revenue.head()

In [ ]:
# use describe
movies_df.describe()

In [ ]:
# use describe on a column
movies_df['genre'].describe()

In [ ]:
# show frequency of values in a column
movies_df['genre'].value_counts().head()

In [ ]:
# display corrolation of columns
movies_df.corr()

In [ ]:
# see type Series from string selection
type(movies_df[
	'genre'
])

In [ ]:
# see type DataFrame from array selection
type(movies_df[
	['genre']
])

In [ ]:
# see type DataFrame from array (multiple)
type(movies_df[
	['genre', 'rating']
])

In [ ]:
# select columns from data
movies_df[['genre', 'rating']].head()

In [ ]:
# locate row by index data
movies_df.loc['Prometheus']

In [ ]:
# locate row by index location
movies_df.iloc[0]

In [ ]:
# return result of condition
(movies_df['director'] == 'Ridley Scott').head()

In [ ]:
# return data based on string condition
movies_df[movies_df['director'] == 'Ridley Scott'].head()

In [ ]:
# return data based on numerical condition
movies_df[movies_df['rating'] >= 8.6].head()

In [ ]:
# return data based on multiple conditions
movies_df[(movies_df['director'] == 'Christopher Nolan') | (movies_df['director'] == 'Ridley Scott')].head()

In [ ]:
# return data based on multiple conditions (concise)
movies_df[movies_df['director'].isin(
	['Christopher Nolan', 'Ridley Scott']
)].head()

In [ ]:
# return data based on many conditions
movies_df[
	(
		(movies_df['year'] >= 2005) &
		(movies_df['year'] <= 2010) &
		(movies_df['rating'] > 8.0) &
		(movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
	)
]

In [ ]:
# create function to iterate through data
def rating_function(x):
	if x >= 8.0:
		return 'good'
	else:
		return 'bad'

In [ ]:
# use function on dataset
movies_df['rating_category'] = movies_df['rating'].apply(rating_function)
movies_df.head()

In [ ]:
# update matplotlib parameters
plt.rcParams.update(
	{
		'font.size': 20,
		'figure.figsize': (10, 8)
	}
)

In [ ]:
# create scatter plot from dataset
movies_df.plot(
	kind = 'scatter',
	x = 'rating',
	y = 'revenue_millions',
	title = 'Revenue (millions) v Rating'
);

In [ ]:
fig = plt.figure(figsize = (10, 7))
sns.regplot(
	x = movies_df.rating,
	y = movies_df.revenue_millions
);
plt.title('Rating v Revenue');